<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>656408109982-f71cfavdggrg3eav67mquu32rdrcjner.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656408109982-f71cfavdggrg3eav67mquu32rdrcjner</string>
	<key>API_KEY</key>
	<string>AIzaSyA94F68EBKy4Ik1ahKah0FyDoMKgQEo7ls</string>
	<key>GCM_SENDER_ID</key>
	<string>656408109982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.StanwoodAnalytics-Example</string>
	<key>PROJECT_ID</key>
	<string>stanwoodanalytics</string>
	<key>STORAGE_BUCKET</key>
	<string>stanwoodanalytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656408109982:ios:d425e47f329c55ea</string>
	<key>DATABASE_URL</key>
	<string>https://stanwoodanalytics.firebaseio.com</string>
</dict>
</plist>